parameters:
    level: 10

    paths:
        - src

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    # Дополнительные проверки
    checkMissingCallableSignature: true
    checkMissingVarTagTypehint: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    checkImplicitMixed: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
